{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'observation_planner.html' %}


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<div class="container"> 
    <div class="row" id="MySplitter">
        <div class="col-md-6">
            
            <h4>
                Available Targets
            </h4>
            <ul class="list-group">
                
                {% for target in objects %}
            
               
                    <li class="list-group-item d-flex justify-content-between align-items-center" style = "padding: 1.5rem; margin-top:1rem;">
                        <div>
                            <h3>{{target.title}}</h3>
                            {% if target.type == "RS"%}
                            <p class="bi-broadcast-pin" style="color: red;"> Radio Source</p>
                            {% elif target.type == "PL"%}
                            <p class="bi-globe2" style="color: green;"> Planet</p>
                            {% elif target.type == "DSO"%}
                            <p class="bi-stars" style="color: blue;"> Deep Space</p>
                            {% elif target.type == "NEO"%}
                            <p class="bi-question-circle-fill" style="color: black;"> Asteroid/NEO</p>
                            {% endif %}
                            <a href="#" class="btn btn-primary"><nobr class="bi-send"> Slew</nobr></a>
                            <p></p>
                            <h5><nobr class="bi-eye"> XX.XXpm - XX.XXam</nobr></h5>
                        </div>
                        <span>
                        <h6>Target Data</h6>
                        {% if target.type == "DSO" %}
                        Right Ascension: {{target.right_ascension|floatformat:"1"}}°<br>
                        Declination: {{target.declination|floatformat:"1"}}°<br>
                        Magnitude: {{target.magnitude|floatformat:"1"}}<br>
                        {% elif target.type == "PL" %}
                        Semi-Major Axis: {{target.semimajor_axis}}<br>
                        Eccentricity: {{target.eccentricity}}<br>
                        Inclination: {{target.inclination}}<br>
                        Ecliptic Longitude: {{target.longitude}}<br>
                        {% endif %}
                        <br>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#observationPlanner">
                            Observation Planner
                        </button>
                        
                        </span>
                    </li>
                 
                {% endfor %}
            </ul>
            
        </div>
        
        <div class="col-md-6" name="render">
            <h4>
                Telescope Status
            </h4>
            <h3 style="color:red;"> Disconnected </h3>
            <a href="#" class="btn btn-outline-primary" style="bg-color: green;"><nobr class="bi-power"><b>  Connect</b></nobr></a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#configWindow">
                Connection Settings
            </button>
            {% include 'config_window.html' %}
            <!-- Modal -->
                    <br>
            <script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
            
		<script type="importmap">
		{
			"imports": {
			"three": "https://unpkg.com/three/build/three.module.js",
			"loader": "https://unpkg.com/three/examples/jsm/loaders/GLTFLoader.js"
			}
		}
		</script>

		<script type="module">


			import * as THREE from 'three';

			import { OrbitControls } from 'https://unpkg.com/three/examples/jsm/controls/OrbitControls.js';
			import { GLTFLoader } from 'https://unpkg.com/three/examples/jsm/loaders/GLTFLoader.js';
			import { RGBELoader } from 'https://unpkg.com/three/examples/jsm/loaders/RGBELoader.js';

			let camera, scene, renderer, light, hemiLight, modelObj, clock;

			init();
			animate();

			function init() {

				//const container = document.createElement( 'div' );
                const container = document.getElementsByName("render")[0]
				//document.body.appendChild( container );
                const maxHeight = 600;

				camera = new THREE.PerspectiveCamera( 45, container.clientWidth / maxHeight, 1, 20 );
				camera.position.set( - 1.8, 0.6, 2.7 );

				scene = new THREE.Scene();
				clock = new THREE.Clock();

				new RGBELoader()
					.setPath( '../static/' )
					.load( 'royal_esplanade_1k.hdr', function ( texture ) {

						texture.mapping = THREE.EquirectangularReflectionMapping;

						//scene.background = texture;
						//scene.environment = texture;
						scene.background = new THREE.Color(0x808080);

						animate();
						

						// model

						const loader = new GLTFLoader().setPath( '../static/' );
						loader.load( 'model.glb', function ( gltf ) {
							//gltf.scene.scale = 0.1;
							let o = gltf.scene;
							o.scale.set(0.01,0.01,0.01);
							scene.add(o);
							modelObj = o;
							
							animate();

						} );

					} );

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				//renderer.setSize( window.innerWidth, window.innerHeight );
                renderer.setSize(container.clientWidth, maxHeight);
				renderer.toneMapping = THREE.ACESFilmicToneMapping;
				renderer.toneMappingExposure = 1;
				renderer.outputEncoding = THREE.sRGBEncoding;
				container.appendChild( renderer.domElement );

				
				const controls = new OrbitControls( camera, renderer.domElement );
				controls.addEventListener( 'change', animate ); // use if there is no animation loop
				controls.minDistance = 2;
				controls.maxDistance = 10;
				controls.target.set( 0, 0.2, 0);
				controls.update();

				scene.add( new THREE.AxesHelper(500));
				
				light = new THREE.SpotLight(0xffa95c,4);
				light.position.set(-50,50,50);
				light.castShadow = true;
				light.shadow.bias = -0.0001;
				light.shadow.mapSize.width = 1024*4;
				light.shadow.mapSize.height = 1024*4;
				scene.add( light );

				hemiLight = new THREE.HemisphereLight(0xffeeb1, 0x080820, 4);
				scene.add(hemiLight);


				window.addEventListener( 'resize', onWindowResize );

			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

				animate();

			}

			//
			let r = 100;
			function animate() {
				
				renderer.render(scene,camera);
				//modelObj.scale.set(r--, 1, 1);
				requestAnimationFrame(animate);
			  }

		

		</script>
        </div>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="function.js"></script>

</div>
{% endblock %}